extends ../templates/base.pug

block content 
  .container
    main
      .text-center.py-5
        h2 Ichimoku Cloud
        p.lead A tool to help determine the strength of an entry or exit signal using the Ichimoku trading system

      .row
        .col.text-center
          a(href="./conversion-baseline-cross.pug") Conversion and base line cross