doctype html
html(lang="en")
head
  title CSS Grid Demo
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" type="text/css" href="./style.css" media="all")

body

  #grid-1.grid-container
    .col
      p Column A (1fr)
    .col 
      p Column B (2fr)
    .col 
      p Column C (1fr)
